*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.box1{
    grid-area: 2 / 1 / span 2 / span 3;
    background: #607d8b;
}
.box2{
    background: #ad0b42;
}
.box3{
    background: #3e6f04;
}
.box4{
    background: #040b31;
}
.Hero div{
    padding: 30px;
}
h1{
    color: white;
}
.Hero{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 150px 150px 250px 150px;
    grid-template-columns: auto auto auto auto;
}